#filters-container {
    display: flex;
    margin-left: .5em;
    border-radius: .25em;
    background: rgb(255, 255, 255);
    padding: 0;
    width: 45%;
}

#filters-padding {
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: space-around;
}

.filters-apply {
    width: 100%;
}

.filters-apply button {
    display: block;
    margin: 0 auto;
    border: 0;
    border-radius: .5em;
    background: #678;
    color: #fff;
    padding: .5em .75em;
    font-weight: bold;
}

.filters-apply button:hover {
    background: #789;
}

#navigation-container {
    padding: 1em;
    background: #2a2f40;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 720px) {
    #filters-container {
        width: 100% !important;
        margin: 0 !important;
    }

    #navigation-container {
        max-width: 100% !important;
        flex-direction: column !important;
    }
}