#header-container {
    padding: 1em;
    background: #2a2f40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#header-container h2 {
    display: inline-block;
    font-weight: normal;
    font-size: 3em;
    color: #fff;
    font-family: 'Major Mono Display', monospace;
}

#header-container p {
    display: inline-block;
    font-weight: normal;
    font-size: 1em;
    color: #fff;
    font-family: 'Major Mono Display', monospace;
}