#posts-container-outer {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

#posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0 .5em;
    padding-bottom: 1em;
}

#posts-load-more {
    width: 100%;
    padding-bottom: 1em;
    background: #fff;
}

#posts-load-more button {
    display: block;
    margin: 0 auto;
    border: 0;
    border-radius: .25em;
    padding: .5em .75em;
    color: #445566;
    font-weight: bold;
    font-size: 1.5em;
    background: #fff;
}

#posts-load-more button:hover {
    background: #678;
    color: #fff;
}

#posts-load-more button:active {
    background: #789;
    color: #fff;
}

.tile-container {
    /* display: block; */
    margin: 0;
    width: 33.3%;
}

.tile {
    position: relative;
    margin: 0 .5em;
    margin-top: 1em;
    border-radius: .25em;
    overflow: hidden;
    color: #444;
    font-weight: bold;
}

.tile-header {
    height: 12em;
    color: #fff;
    padding: 1em;
    background-size: cover;
    background-position: center center;
}

.tile-container h1 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 1rem;
}

.tile-container h2 {
    font-size: 1em;
    margin: 0;
    margin-bottom: 1em;
}

.tile-content p {
    margin: 0;
    padding: 1em;
    margin-bottom: 1rem;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1em;
    line-height: 2rem;
    font-stretch: expanded;
}

.tile-content button {
    border: 0;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    line-height: 5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
}

.tile-content button:hover {
    background: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
}

.tile-content button:active {
    background: rgba(255, 255, 255, 0.9);
}

.post-container {
    max-width: 50em;
    margin: 1em auto;
    display: flex;
    flex-direction: rows;
}

.post-left-block {
    width: 12em;
    overflow-wrap: break-word;
    text-align: right;
    padding: 1rem;
}

.post-left-block h1 {
    font-family: 'Major Mono Display', monospace;
    /* font-family: sans-serif; */
    font-size: 2rem;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #c0c0c8;
}

.post-left-block h2 {
    font-family: 'Major Mono Display', monospace;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    color: #c0c0c8;
}

.post-left-block button {
    margin-bottom: 1em;
    border: 0;
    border-radius: .25em;
    padding: .5em .75em;
    color: #fff;
    font-weight: bold;
    background: #c0c0c8;
}

.post-left-block button:hover {
    background: #d0d0d8;
}

.post-right-block {
    flex-grow: 2;
    padding: 1em;
}

.post-right-block p {
    text-indent: 2rem;
    font-size: 1rem;
    text-align: justify;
    margin: 0;
    margin-bottom: 2rem;
    line-height: 1.8rem;
    /* color: #50585f; */
    color: #444;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: sans-serif;
}

.post-right-block h2, .post-right-block h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    color: #c0c0c8;
    font-family: sans-serif;
    font-weight: bold;
}

.post-right-block h2 {
    font-size: 2rem;
}

.post-right-block h3 {
    /* font-family: 'Libre Baskerville', serif; */
    font-family: sans-serif;    font-size: 1rem;
    font-style: italic;
}

.post-right-block ul {
    margin: 0;
    margin-bottom: 2em;
    margin-left: 2em;
    padding: 0;
}

.post-right-block ul li {
    /* font-family: 'Libre Baskerville', serif; */
    font-family: sans-serif;    line-height: 1.8em;
    color: #50585f;
    text-align: justify;
}

.post-right-block .wp-block-quote {
    font-style: italic;
    border-left: .5em solid #f8f8f8;
    margin: 0;
    padding-left: 2em;
}

.post-right-block .wp-block-quote p {
    color: #888;
}

 b, em, sup, a {
    font-family: inherit;
}

.wp-block-gallery {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 1em;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.blocks-gallery-item {
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.blocks-gallery-item figure, .post-right-block figure {
    margin: 0;
    width: 100%; 
    margin-bottom: 1em;
}

.post-right-block figcaption {
    line-height: 1.8rem;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 2em;
    color: #888;
    font-style: italic;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: sans-serif;}

.blocks-gallery-item img, .post-right-block img {
    margin: 0;
    width: 100%; 
    border-radius: .25em;
}

@media only screen and (max-width: 720px) {
    #posts-container-outer {
        padding: 0 !important;
    }

    .post-container {
        width: 100% !important;
        flex-direction: column !important; 
        margin: 0 !important;
    }

    .post-left-block {
        width: calc(100% - 2rem) !important;
        text-align: left;
    }

    .tile-container {
        width: 100% !important;
    };
}